@charset "utf-8";
/* CSS Document */

footer span{
    float: right;
    margin: 0 .6em 0 1.4em;
}

footer {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    clear: both;
    margin-left: 68px;
    margin-right: 25px;
    padding-top: 1em;
}

/*
footer {
    font-family: Univers65, Arial, Helvetica, sans-serif;
    margin: .4em;
    color: white;
    line-height: 2.5em;
}
*/

/*
footer {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 1em;
    clear: both;
}
*/
/*
footer {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-small;
    text-align: left;
    clear: both;
	margin-left: 50px;
    margin-right: 50px;
    padding-top: 1em;
}
*/
