/* CSS Document */
@font-face {
    font-family: Univers55Roman;
    src: url("Univers55Roman.otf");
}

@font-face {
    font-family: Univers55RomanItalic;
    src: url(Univers55RomanItalic.otf);
}

@font-face {
    font-family: Univers85ExtraBlack;
    src: url("Univers85ExtraBlack.otf")
}

@font-face {
    font-family: Univers85ExtraBlackItalic;
    src: url("Univers85BlackItalic.otf` ")
}

*{
    border: red 1px solid;
}

body {
    background-color: #422B25;
    background-size: cover;
    background-attachment: scroll;
    color: #FFFFFF;
}

/* header {
    margin-top: 0;
    margin-bottom: 3%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #AD3C1E;
    height: 100px;
}

header img {
    position: relative;
    top: 100px;
} */

main {
    margin-top: 150px;
    /* float: left; */
    margin-left: 57px;
}

.rectangletop {
    height: 50px;
    width: 100%;
    background-color:#FFFFFF;
    /* margin: -25 0; */
  }

.rectanglemiddle {
    height: 50px;
    width: 100%;
    background-color:#FFFFFF;
    margin: 0 0;
  }

.rectanglebottom {
    height: 50px;
    width: 100%;
    background-color:#FFFFFF;
    margin: 300px 0;
  }

h1 {
    display: inline;
    font-family: Univers85ExtraBlack, Arial, Helvetica, sans-serif;
    font-size: 400%; 
    /* text-align: left; */
    /*font-style: large;
    font-size: 100%; 
    letter-spacing: 3px;
    word-spacing: 2px;*/
    /*height: 8px;*/
    /* font-weight: 400; */
    padding-bottom: 10px;
}

.finest {
    color: yellow;
}

h2  {
    font-family: Univers85ExtraBlack, Arial, Helvetica, sans-serif;
    display: inline;
    /* padding-top: 10px; */
     font-size: 150%; 
    /* margin-left: 2px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* letter-spacing: 1px; */
    
}

main div {
    /* margin: 0 0 100 0; */
    /* float: right; */
    display: inline;
}

#halfdonut {
    float: right;
    width: 500px;
}

#delightlogo {
    margin-left: 42px;
    margin-top: -205px;
}

