
@font-face {
    font-family: Univers55Roman;
    src: url("Univers55Roman.otf");
}

@font-face {
    font-family: Univers55RomanItalic;
    src: url(Univers55RomanItalic.otf);
}

@font-face {
    font-family: Univers85ExtraBlack;
    src: url("Univers85ExtraBlack.otf")
}

@font-face {
    font-family: Univers85ExtraBlackItalic;
    src: url("Univers85BlackItalic")
}

header {
    margin-top: 0;
    margin-bottom: 3%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #AD3C1E;
    height: 100px;
}

header img {
    position: relative;
    top: 100px;
}

nav {
    text-align: right;
}

.navItem {
    color: #FFFFFF;
    font-size: 310%;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 125px;
    font-family: Univers85ExtraBlack;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* padding-top: -2px;
    padding-bottom: -2px; */
}
    

.navItem:hover, .navItem:focus {
    font-family: Univers85ExtraBlack;
}

a:hover{
    color: #F5B142;
}

.active {
    font-family: Univers85ExtraBlack;
    color: #F5B142;
    /* text-shadow: -1px 1px 2px #0B0919; */
}
